body{
    background-color: lightblue;
    position: relative;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-left:auto;
    margin-right:auto;
}

.container-oracle{
    display: inline;
    margin-bottom: 100px;
}

#magic-btn{
    margin-top: 3rem;
    height: 50px;
    width: 300px;
    background-color: aqua;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    font-size: 24px;
    border: none;
    cursor: pointer;

}
#magic-btn:hover{
    background-color: blue;
}

#footer{
    margin-top: 50px;
}